
.co-ords-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    margin: 10px 0px 10px 0px;
}

.co-ords-container {
    width: 70%;
    height: 100px;
    margin: 5px auto 0px auto;
}

.co-ords-div-button {
    width: 50%;
    height: 100px;
    margin: auto auto;
    display: flex;
    justify-content: center;
}

.co-ords-container input {
    margin: auto auto;
    align-self: center;
    display: flex;
    width: 100%;
    height: 25px;
}

.date-submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .centered-content {
    width: 70%; 
    margin: auto;
    text-align: center;
  }

.encounters {
    height: 420px;
}

.dropdown-container {
    width: 100%;
    margin: 10px auto auto auto;
}

.title-div {
  margin-left: 2%;
  display:flex;
  align-items: center;
}

.output-list {
  list-style: none;
  padding: 10px;
}

.nav-ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.nav-ul li {
    margin-bottom: 5px;
    margin: 5px ;
}

.nav-li a,
.title-div a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 15px;
}

.nav-li a:hover {
    color: cornflowerblue;
}

.burger-menu {
    display: none; 
    cursor: pointer;
    flex-direction: column;
  }
  
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}
  
  /* Show the burger menu when the screen is 500px or less */
@media (max-width: 500px) {
    .burger-menu {
      display: flex;
      margin-left: 7rem;
    }
.nav-ul {
      display: none;
      flex-direction: column;
      align-items: flex-end;
      background: #3e363f;
      width: 100%;
      position: absolute;
      top: 36px; 
      z-index: 10;
    }
    .nav-ul.open {
      display: flex; 
    }
   .nav-li {
      padding: 10px;
    }
  }

@media (max-width: 375px) {
    .nav-ul li {
        font-size: 12px;
    }
}

@media (min-width: 494px) {
    .co-ords-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 5px; 
        margin: 20px 0px 20px 0px;
    }
    .dropdown-container {
        width: 50%;
    }
    .co-ords-container {
        width: 90%
    }
    .co-ords-container input
    .co-ords-container label {
        width: 50%
    }
}

@media (min-width: 722px) {
    .co-ords-wrapper {
        grid-template-columns: repeat(5, 1fr); 
    }
    .co-ords-container {
        width: 70%
    }
    .dropdown-container {
        width: 30%;
    }
    .output-list {
        margin: 10px;
    }
    .output-list-container {
        text-align: center;
        margin: auto;
        padding: 10px;
    }
}


@media (min-width: 858px) {
    .co-ords-wrapper {
        grid-template-columns: repeat(6, 1fr); 
    }
    .co-ords-container {
        width: 70%;
        margin: auto auto;
    }
    .co-ords-container label, input {
        width: 100%;
        margin: auto auto;
    }
}

@media (min-width: 1200px) {
    .co-ords-wrapper {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 5px; 
        margin: 20px auto 20px auto;
    }
    .co-ords-container {
        width: 50%;
        margin: auto;
    }
    .dropdown-container {
        width: 25%;
    }
}


