.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust as needed */
  }
  
  .pagination span {
    flex-grow: 1;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination span.active {
    font-weight: bold;
    background-color: lightblue;
  }