* {
    box-sizing: border-box;
    margin: 0;
}

.css-b62m3t-container {
    width: 80%;
    margin: auto;
}

body {
    background-color: rgb(230, 229, 229);
    margin: 0;
}

.btn {
  color: rgb(99, 98, 98);
  border: 1px solid black;
  background-color: rgb(243, 240, 240);
  border-radius: 5px;
  height: 25px;
  width: 125px;
  cursor: pointer;
  box-shadow: 0px 4px 10px -3px black;
}

.btn:hover {
   color: white;
   background-color: black;
}

.btn.btn-coords {
    margin: 1rem auto 50px auto;
}

.center-nav-container {
    width: 75%;
    height: 300px;
    margin: 30px auto 0px auto;
}

.rdt input{
    width: 100px;
    padding-left: 25px;
}

.rdt .rdtPicker{
   margin: auto;
   position: relative;
   width: 200px;
}

.center-nav {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: 15%;
    background-color: rgb(241, 237, 237);
    border-radius: 5px;
    box-shadow: 0px 3px 10px 0px rgb(172, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.center-nav:hover {
    background-color: rgb(33, 43, 51);
    color: aliceblue;
}

input {
    border-radius: 3px;
    height: 20px;
    width: 90px;
    padding-left: 10px;
    border: 1px rgb(0, 0, 0) solid;
}

input:focus, input:active {
    border: 2px rgb(0, 162, 255) solid;
    outline: none;
}

@media (min-width: 500px){
    .center-nav-container {
        width: 75%;
        height: 300px;
        margin: 30px auto 0px auto;
    }
    .center-nav {
        margin: 20px auto 0px auto;
        width: 250px;
    }
}